@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/

/* :::::::::::::::::::: common-S :::::::::::::::::::: */
a {text-decoration: none; color: inherit}
.inner {width: 1200px; margin: 0 auto;}
.hidden {width: 0; height: 0; overflow: hidden;
	font-size: 0; line-height: 0; text-indent: -9999px;
	position: absolute; left: -9999px;
}

.skip-nav{}
.skip-nav>a{width: 100%; height: 30px;
	position: absolute; left: 0; top: -100px;
	background-color: #f00;
	text-align: center; color: #fff; line-height: 30px;
}
.skip-nav a:focus {top: 0;}

body {font: 16px/1.2 'Noto Sans KR', sans-serif;
	letter-spacing: -1px;
}

.tit {padding-top: 90px;
    font-size: 30px; font-weight: 700; line-height: 40px; text-align: center; color: #333}
.desc {margin-bottom: 60px;
    font-size: 18px; font-weight: 500; line-height: 30px;text-align: center;color: #666
}
/* :::::::::::::::::::: common-E :::::::::::::::::::: */

/* ===== header-S ===== */

#header{width: 100%; min-width: 1200px; height: 90px}
#header h1{width: 100px; height: 36px; float: left; margin: 25px 100px 0 0}
#header h1 a{width: 100%; height: 36px; display: block;
    background-image: url(../img/logo.png);
    text-indent: -9999px
}
#gnb{float: left; }
#gnb>ul>li{float: left; position: relative}
#gnb>ul>li>a{padding: 10px 30px 0 30px; display: block;
    font-size: 16px; font-weight: 500; line-height: 80px; color: #333
}
#gnb>ul>li>a::after{content: ""; width: 7px; height: 7px; display: block; 
    position: absolute; right: 15px; top: -10px;
    border-radius: 50%;
    background-color: #f52f53;
    transition: all 0.5s
}
.sub-menu{width: 100%; height: 200px; display: none;
    position: absolute; left: 0; top: 100px; z-index: 100;
    font-size: 14px; font-weight: 400; line-height: 30px; text-align: center; color: #444
}
.gnb-bg{width: 100%; height: 250px; min-width: 1200px; display: none;
    position: absolute; left: 0; top: 90px; z-index: 50;
    border-top: 1px solid rgba(126, 126, 126, 0.24);
    background-color: #fff
}
#gnb:hover ul{display: block}
#gnb:hover .gnb-bg {display: block}
#gnb>ul>li:hover a:after{right: 15px; top: 30px}
.sub-menu li:hover{font-weight: 500; color: #f52f53}

.tnb{width: 180px; height: 90px; float: right}
.tnb .sch-btn{width: 100%; height: 25px;
    background-color: #f52f53
}
.tnb .sch-btn a{display: block; float: right; margin-right: 10px;
    font-size: 14px; font-weight: 400; line-height: 25px; color: #fff
}
.tnb-wrap a{float: left; 
    font-size: 15px; font-weight: 400; line-height: 55px; color: #555
}
.tnb-wrap a:nth-of-type(2){ margin-left: 25px;}

/* ===== header-E ===== */

/* ===== main-S ===== */

/* -- visual-S -- */
#container {width: 100%; min-width: 1200px}
#container .visual{height: 750px;  min-width: 1200px;}

.visual .swiper-container {width: 100%; min-width: 1200px; height: 750px; margin: 0 auto}

.slide1{background: url(../img/visual01.jpg) no-repeat center center}
.slide2{background: url(../img/visual02.jpg) no-repeat center center}
.slide3{background: url(../img/visual03.jpg) no-repeat center center}
.swiper .txt-box {padding-top: 310px; color: #333; text-align: center}
.swiper .txt-box h3 {font-size: 40px; font-weight: 600; line-height: 70px; }
.swiper .txt-box p {font-size: 20px; font-weight: 500; line-height: 30px; letter-spacing: -1}

/* -- visual-E -- */

/* -- product-S -- */

.new-box{margin-bottom: 90px;}
.new-box::after {content: ""; display: block; clear: both}
.new-box-op{width: 380px; height: 335px; float: left;
    position: relative
}
.new-box-op+.new-box-op{margin-left: 30px}
.new-box-op:nth-of-type(1){background: url(../img/sws.jpg) no-repeat }
.new-box-op:nth-of-type(2){background: url(../img/playworks.jpg) no-repeat}
.new-box-op:nth-of-type(3){background: url(../img/systembooth.jpg) no-repeat}
.new-box-op h4{padding-top: 285px;
    font-size: 18px; font-weight: 400; line-height: 30px; color: #333; text-align: center}
.new-box-op p{font-size: 16px; font-weight: 400; line-height: 20px; color: #555; text-align: center}
.new-box-op a{width: 380px; height: 275px; opacity: 0;
    position: absolute; left: 0; top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
    text-indent: -9999px
}
.new-box-op a::after{content: ""; display: block;
    width: 100px; height: 100px; margin: 75px auto 0 auto;  
    background: url(../img/new_before.png) no-repeat;
}
.new-box-op:hover a{opacity: 1 ; }

/* -- product-E -- */

/* -- showroom-S -- */

.showroom{width: 100%; height: 350px; 
    background: url(../img/showroom_bg.jpg) no-repeat center center
}
.showroom::after{content: "";display: block; clear: both}
.showroom .tit{color: #fff}
.showroom .desc{margin-bottom: 50px; color: #d5d6d6}
.showroom a{width: 180px; height: 40px; display: block; margin: 0 auto;
    font-size: 16px; font-weight: 400; line-height: 40px; text-align: center; color: #fff;
    border: 1px solid #fff; border-radius: 20px;
    transition: all 0.3s
}
.showroom a:hover {background-color: #fff; color: #444}

/* -- showroom-E -- */

/* -- story-S -- */

.story{position: relative}
.story::after{content: "";display: block; clear: both}
.story .swiper-container{height: 450px;}
.story figure{width: 625px; height: 400px;
    position: absolute; right: 0; top: 50px;
}
.story-box{width: 1020px; height: 380px; float: left; 
    background-color: #f9f9f9;

}
.story-txt{float: left; margin: 50px 0 0 50px;}
.story-txt em{font-size: 13px; font-weight: 400; line-height: 30px; color: #777}
.story-txt h4{font-size: 25px; font-weight: 500; line-height: 40px; color: #333}
.story-txt strong{font-size: 20px; font-weight: 500; line-height: 40px; color: #444}
.story-txt p{margin: 20px 0 30px 0;
    font-size: 16px; font-weight: 400; line-height: 25px; color: #555
}
.story-txt a{margin-left: 200px;
    font-size: 14px; font-weight: 400; line-height: 15px; color: #777;
}


/* -- story-E -- */

/* -- case-S -- */

.case{padding-top: 90px}
.case::after{content: ""; display: block; clear: both}
.case-tit{width: 270px; float: left; text-align: center}
.case-tit h3{margin-bottom: 20px}
.case-tit p{margin-bottom: 40px}
.case-tit a {width: 200px; height: 50px; display: block; margin: 0 auto;
    font-size: 16px; font-weight: 400; line-height: 50px; color;
    border: 1px solid rgba(68, 68, 68, 0.7); 
    transition: all 0.3s
}
.case-box{float: left}
.case-box-op{width: 270px; height: 300px; float: left; margin: 60px 0 0 40px;
    position: relative
}
.case-box-op strong{
    font-size: 18px; font-weight: 400; line-height: 30px; color: #444;
    position: absolute; left: 0; bottom: 40px
}
.case-box-op strong::after {content: ""; display: block; 
    width: 0; height: 2px; float: right; margin: 15px auto 0 10px;
    background-color: #f52f53;
    transition: all 0.5s
}
.case-box-op p{
    font-size: 15px; flex-wrap: 400; line-height: 25px; color: #555;
    position: absolute; left: 0; bottom: 15px
}
.case-box-op a{width: 270px; height: 220px; opacity: 0;
    position: absolute; left: 0; top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
    text-indent: -9999px
}
.case-box-op:nth-of-type(1) a::after{content: ""; display: block; 
    width: 170px; height: 30px; margin: 80px auto 0;
    background: url(../img/case_1.png)
}
.case-box-op:nth-of-type(2) a::after{content: ""; display: block; 
    width: 170px; height: 25px; margin: 80px auto 0;
    background: url(../img/case_2.png)}
.case-box-op:nth-of-type(3) a::after{content: ""; display: block;
    width: 170px; height: 27px; margin: 80px auto 0;
    background: url(../img/case_3.png)}
.case-box-op figure{
}

.case-tit a:hover {background-color: #444; color: #fff}
.case-box-op a:hover {opacity: 1}
.case-box-op:hover strong::after{width: 120px;}

/* -- case-E -- */

/* -- latter-S -- */

.latter{padding-top: 90px; height: 300px}
.latter::after{content: "";display: block; clear: both}
.latter .inner{height: 300px; background: url(../img/latter.jpg) no-repeat 0 0;}
.latter::after{content: "";display: block; clear: both}
.latter-tit{ margin-left: 100px;
    
}
.latter-tit h3{ text-align: left}
.latter-tit p{margin-bottom: 30px; text-align: left}
.form{margin-left: 100px}
.form input{width: 410px; height: 40px;
    font-family: 'Noto Sans KR';
    background-color: rgba(255, 255, 255, 0.8);
    border: none
}
.form button{width: 100px; height: 40px;margin-left: 30px;
    font-size: 14px; font-weight: 400; line-height: 40px; color: #555; font-family: 'Noto Sans KR';
    background-color: rgba(255, 255, 255, 0.8);
    border: none
}

/* -- latter-E -- */

/* -- news-S -- */
.news{margin-bottom: 90px;}
.news::after{content: ""; display: block; clear: both}
.news-box{height: 300px; float: left; margin: 0 25px;
    position: relative;
}
.news-box strong{
    position: absolute; left: 0; bottom: 40px;
    font-size: 15px; font-weight: 400; line-height: 25px; color: #444
}
.news-box em{
    position: absolute; right: 0; bottom: 20px;
    font-size: 13px; font-weight: 300; line-height: 20px; color: #777
}
.news-box figure{transition: all 0.5s}
.news-box:hover figure{transform: scale(1.02)}
/* -- news-E -- */

/* -- footer-S -- */

#footer {width: 100%; min-width: 1200px; height: 200px; padding-top: 30px;
    background-color: #333
}
#footer h2 {width: 100px; height: 36px; float: left; margin:0 150px 50px 0;
    background-image: url(../img/logo.png) ;
    text-indent: -9999px
}
.f-menu {float: left; margin: 10px auto 20px auto}
.f-menu li {float: left;
    font-size: 14px; font-weight: 400; line-height: 25px; color: #999;
    position: relative
}
.f-menu li + li {margin-left: 40px;}
.f-menu li + li:after {content: ""; width: 1px; height: 10px;
    background-color: #777;
    position: absolute; left: -20px; top: 8px
}
.f-menu li:nth-child(2) a{font-weight: 500; color: #b9203b}
.f-box {width: 130px; float: right}
.f-family {margin: 10px auto; position: relative}
.f-family p {width: 130px; height: 30px;  display: block;
    background-color: #aaa;
    border: 1px solid #bbb;
    line-height: 30px; text-indent: 15px
}
.f-family p:after {content: ""; width: 7px; height: 5px; 
    position: absolute; right: 16px; top: 14px;
	background-image: url(../img/icon_footer_family_arrow.png)
}
.f-family ul {width: 130px; height: 270xp; display: none;
	border: 1px solid #bbb; 
    position: absolute; left: 0; bottom: 30px;
	background-color: #fff;
	font-size: 14px; line-height: 35px;text-indent: 15px;
}
.f-family span {display: block;
    font-size: 15px; font-weight: 500; line-height: 30px; color: #777;
}
.f-family a {width: 100%; height: 35px; display: block;
    line-height: 35px; 
}
.f-sns {float: right}
.f-sns a{padding-left: 10px;
	line-height: 50px; color: #555; font-size: 35px
}
.f-addr{float: left}
.f-addr li {float: left ; margin-right: 15px}
.addr{width: 600px; height: 40px; margin-bottom: 20px;
    font-size: 13px; line-height: 20px; color: #777
}
.copy{ font-size: 12px; color: #555}

.f-family:hover > ul {display: block}
.f-family a:hover{background-color: #eee}






























